<section class="section contact-section contact-section contact-map">
	<div class="container">
		<div class="section-head">
			<h2 class = "section-head__title section-head__title--dark">Contact us</h2>
			<span class = "section-head__subtitle">Please, fill the form below</span>
		</div>
		<form action="" class="contact-section__form">
			<div class="contact-section__author">
				<input type="text" placeholder="Your Name" required name = "fbName" class="contact-section__input">
				<input type="email" placeholder="Your Email" required name = "fbMail" class="contact-section__input">
				<input type="text" placeholder="Subject" name = "fbSubject" class="contact-section__input">
			</div>
			<div class="contact-section__text">
				<textarea name="fbText" id="fbText" class="contact-section__input contact-section__input--area" cols="30" rows="10" placeholder="Your Message" required></textarea>
			</div>
			<div class="line-break"></div>
			<input type="submit" value = "Send" class = "contact-section__submit">
		</form>
	</div>
</section>