<app-menu></app-menu>
<main class="main">
	<app-slider></app-slider>
	<section class="section info-section">
			<div class="container">
				<div class="section-head">
					<h2 class = "section-head__title section-head__title--light">What we offer?</h2>
				</div>
			</div>
			<div class="container">
				<div class="info-section__body">
					<div class="info-section__item">
						<img src="images/icon1.png" alt="" class="info-section__item__icon">
						<div class="info-section__item-title">Read Useful articles</div>
					</div>
					<div class="info-section__item">
						<img src="images/icon2.png" alt="" class="info-section__item__icon">
						<div class="info-section__item-title">Place your Resume</div>
					</div>
					<div class="info-section__item">
						<img src="images/icon3.png" alt="" class="info-section__item__icon">
						<div class="info-section__item-title">Find Your Future Work</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section stat-section">
			<div class="section-head">
				<h2 class = "section-head__title section-head__title--dark">Some Statistics</h2>
			</div>
			<div class="container stat-section__container">
                <div class="stat-section__item">
                    <img src="images/stat1.png" alt="" class = "stat-section__image">
                    <p class="stat-section__text stat-section__text--counter" data-from="25" data-to="12458" data-speed="5000" data-refresh-interval="20"></p>
                    <p class="stat-section__text stat-section__text--description">People placed resume</p>
                </div>
                <div class="stat-section__item">
                    <img src="images/stat2.png" alt="" class = "stat-section__image">
                    <p class="stat-section__text stat-section__text--counter" data-from="25" data-to="6796" data-speed="5000" data-refresh-interval="20"></p>
                    <p class="stat-section__text stat-section__text--description">Found their new work</p>
                </div>
                <div class="stat-section__item">
                    <img src="images/stat3.png" alt="" class = "stat-section__image">
                    <p class="stat-section__text stat-section__text--counter" data-from="25" data-to="5000" data-speed="5000" data-refresh-interval="20"></p>
                    <p class="stat-section__text stat-section__text--description">Positive Feedbacks</p>
                </div>
            </div>
		</section>

		<section class="section home-blog">
			<div class="section-head">
				<h2 class = "section-head__title section-head__title--light">Our Blog</h2>
				<span class = "section-head__subtitle">There u can read our latest news</span>
			</div>
			<div class="container home-blog__container">
				<div class="home-blog__feature">
					<div class="home-blog__feature__head">
	                    <p class="home-blog__feature__meta">Google News <span>10 December, 2017</span></p>
	                    <img src="images/brand.jpg" alt="" class = "home-blog__feature__image">
	                </div>
	                <div class="home-blog__feature__content">
	                    <h3 class = "home-blog__feature__title">THE IMPORTANCE OF YOUR PERSONAL BRAND</h3>
	                    <p class = "home-blog__feature__description">If prompted, could you describe what makes you professionally unique? Are you conscious of what comp</p>
	                    <a href="#" class="home-blog__link">READ MORE</a>
	                </div>
				</div>
                <div class="home-blog__articles">
                    <div class="home-blog__item home-blog__item--first">
                        <div class="home-blog__item__meta">
                            <div class="home-blog__item__author">Google News</div>
                            <div class="home-blog__item__date">4 Jan 2017</div>
                        </div>
                        <div class="home-blog__item__text">
                            <h3 class="home-blog__item__title">EVERYTHING YOU ALWAYS WANTED TO KNOW ABOUT SALES AND BUSINESS DEVELOPMENT</h3>
                            <p class="home-blog__item__description">Thinking about a job in sales? There are plenty to choose from posted on Monster.ca. But before you start applying, read about what Business</p>
                            <a href="#" class="home-blog__link">READ MORE</a>
                        </div>
                    </div>
					<div class="home-blog__item home-blog__item--second">
                        <div class="home-blog__item__meta">
                            <div class="home-blog__item__author">Google News</div>
                            <div class="home-blog__item__date">5 Jan 2017</div>
                        </div>
                    	<div class="home-blog__item__text">
                        	<h3 class="home-blog__item__title">BEST SPRING JOBS</h3>
                            <p class="home-blog__item__description">Have a spring fling. The warmer weather is time for career growth and renewal so how about growing your skill set and getting a seasonal job. Many of us are under the impressio</p>
                            <a href="#" class="home-blog__link">READ MORE</a>
                        </div>
                    </div>
                    <div class="home-blog__item home-blog__item--third">
                        <div class="home-blog__item__meta">
                            <div class="home-blog__item__author">Google News</div>
                                <div class="home-blog__item__date">6 Jan 2017</div>
                            </div>
                        <div class="home-blog__item__text">
                            <h3 class="home-blog__item__title">QUICK TAKE: 3 ANSWERS TO 3 QUESTIONS ABOUT CAREER CATFISHING</h3>
                            <p class="home-blog__item__description">Here at The Muse, we get a lot of questions from our users about their careers. And that’s totally fair because our whole thing is sharing advice with you to help you achieve your dreams</p>
                            <a href="#" class="home-blog__link">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
		</section>
		<app-contacts></app-contacts>
</main>