<div class = "slider">
	<ol class = "slider__list">
	    <li class="slider__item" style="background-image:url(images/slide3.jpg);"></li>
	    <li class="slider__item" style="background-image:url(images/slide2.jpg);"></li>
	    <li class="slider__item" style="background-image:url(images/slide1.jpg);"></li>
	</ol>
	<span class="slider__nav slider__nav--left fa fa-angle-left fa-3x"></span>
	<span class="slider__nav slider__nav--right fa fa-angle-right fa-3x"></span>
		    
	<div class="slider__info">
		<span class = "slider__title">Find Your Job</span>
		<!--<form action="" class="slider__search">
			<div class = "slider__search-text">
				<input type="text" value = "" placeholder="Search By Jobs" >
			</div>
			<div class="slider__search-text">
				<input type="text" value = "" placeholder="Search By Location">
			</div>
			<input class="slider__search-button" type="submit" value = "Search">
		</form>-->
	</div>
</div>