<app-menu></app-menu>
<main class="main">
		<div class="blog__title">
			<h1 class = "blog__title-text">Latest Posts</h1>
		</div>
		<section class="section-blog">
			<ul class="section-blog__posts">
				<li class = "section-blog__post">
					<img alt="" class="section-blog__post__image" src = "images/dummy.png">
					<h2 class = "section-blog__post__title">The Importance of Your Personal Brand</h2>
					<div>
						<p class = "section-blog__post__paragraph">If prompted, could you describe what makes you professionally unique? Are you conscious of what comp</p>
					</div>
					<a class = "section-blog__post__link" href = "#">Read More <i aria-hidden="true" class="fa fa-arrow-right"></i></a>
				</li>
				<li class = "section-blog__post">
					<img alt="" class="section-blog__post__image" src = "images/dummy.png">
					<h2 class = "section-blog__post__title">Everything You Always Wanted to Know About Sales and Business Development</h2>
					<div>
						<p class = "section-blog__post__paragraph">Thinking about a job in sales? There are plenty to choose from posted on Monster.ca. But before you start applying, read about what Business</p>
					</div>
					<a class = "section-blog__post__link" href = "#">Read More <i aria-hidden="true" class="fa fa-arrow-right"></i></a>
				</li>
				<li class = "section-blog__post">
					<img alt="" class="section-blog__post__image" src = "images/dummy.png">
					<h2 class = "section-blog__post__title">Best Spring Jobs</h2>
					<div>
						<p class = "section-blog__post__paragraph">Have a spring fling. The warmer weather is time for career growth and renewal so how about growing your skill set and getting a seasonal job.</p>
						<p class = "section-blog__post__paragraph">Many of us are under the impressio</p>
					</div>
					<a class = "section-blog__post__link" href = "#">Read More <i aria-hidden="true" class="fa fa-arrow-right"></i></a>
				</li>
				<li class = "section-blog__post">
					<img alt="" class="section-blog__post__image" src = "images/dummy.png">
					<h2 class = "section-blog__post__title">Quick Take: 3 Answers to 3 Questions About Career Catfishing</h2>
					<div>
						<p class = "section-blog__post__paragraph">Here at The Muse, we get a lot of questions from our users about their careers. And that’s totally fair because our whole thing is sharing advice with you to help you achieve your dreams (whatever </p>
					</div>
					<a class = "section-blog__post__link" href = "#">Read More <i aria-hidden="true" class="fa fa-arrow-right"></i></a>
				</li>
				<li class = "section-blog__post">
					<img alt="" class="section-blog__post__image" src = "images/dummy.png">
					<h2 class = "section-blog__post__title">10 Companies Where You Never Stop Learning</h2>
					<div>
						<p class = "section-blog__post__paragraph">What’s one thing you want out of your career? If you’re like most people, the word “growth” is one of the first to spring to mind.</p>
						<p class = "section-blog__post__paragraph">Sure, it means that you want to move up when it comes to yo</p>
					</div>
					<a class = "section-blog__post__link" href = "#">Read More <i aria-hidden="true" class="fa fa-arrow-right"></i></a>
				</li>
				<li class = "section-blog__post">
					<img alt="" class="section-blog__post__image" src = "images/dummy.png">
					<h2 class = "section-blog__post__title">12 Companies Where You Can Get Away From the Winter Weather</h2>
					<div>
						<p class = "section-blog__post__paragraph">It’s only November and you’re already tired of the blustering winds and bitter cold. The thought of layering on one more scarf is enough to make you a lifelong recluse.</p>
						<p class = "section-blog__post__paragraph">Sound lik</p>
					</div>
					<a class = "section-blog__post__link" href = "#">Read More <i aria-hidden="true" class="fa fa-arrow-right"></i></a>
				</li>
			</ul> 
		</section>
		<div class="blog-navigation">
			<a href="#" class="blog-navigation__link blog-navigation__link--active">1</a>
			<a href="#" class="blog-navigation__link">2</a>
			<a href="#" class="blog-navigation__link">3</a>
			<a href="#" class="blog-navigation__link">4</a>
			<a href="#" class="blog-navigation__link">5</a>
		</div>